body{
	background-color: #222;
	margin:0;
}

#turrets circle{
	fill:rgba(255,0,200,0.1);
	stroke:rgba(255,0,200,1);
}

#tokens circle,
#tokens use{
	fill:gold;
	stroke:none;
}

#bullets rect{
	fill:white;
	stroke:orange;
	stroke-weight:1px;
}

.scores text{
	font-family: monospace;
	font-size:20px;
	fill:white;
	stroke:none;
	text-align:center;
	text-anchor:middle;
}

.titles text{
	font-family: monospace;
	font-size:80px;
	fill:white;
	stroke:none;
	text-align:center;
	text-anchor:middle;
}